body {
    background-color: royalblue;
}

h1 {
    color: white;
    margin-left: 10px;
}

span.damage {
    margin: 10px;
}

div.card {
    border: 1px solid black;
    max-width: 380px;
    margin: 10px;
    padding: 0 10px 10px 10px;
    background-color: white;
    /* border radius adds a rounded corner */
    border-radius: 15px;
}


/* general styles for the buttons */
#p1IncDmgFifty,
#p1IncDmg,
#p1DecDmg,
#p1ClrDmg {
    margin-right: 10px;
    width: 20%;
    max-width: 70px;
    border-radius: 10px;
    /* border: none; */
    background-color: whitesmoke;
    color: black;
    font-weight: 600;
    padding: 5px;
}

/* specific button style overrides for the primary damage button*/
#p1IncDmg {
    background-color: royalblue;
    color: white;
    border: 1px solid royalblue;
    max-width: 100px;
}

/* specific button style overrides for the reset button*/
#p1ClrDmg {
    width: 15%;
    color: red;
}


/* hover styles */
#p1IncDmgFifty:hover,
#p1IncDmg:hover,
#p1DecDmg:hover,
#p1ClrDmg:hover {
    border-color: red;
    cursor: pointer;
}

#p1TotalHP:hover {
    cursor: pointer;
}